.navbar{
    position: relative;
    z-index: 1;
}

.nav-item{
    margin: 0, 10px, 0, 10px !important;
}

.bg-oten{
    background-color: rgb(0, 162, 255);
}

.text-oten{
    color: rgba(0, 110, 255, 0.815);
}

.text-white{
    color:white !important;
}

.container{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.jumbotron{
    background-image: url(../../assets/jumbotron.png);
    background-size: cover;
    height: 480px;
    text-align: center;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.274));
    position: absolute;
    bottom: 0;
}

.jumbotron .container{
    position: relative;
    z-index: 1;
}

.bar-panel{
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 50px 10px 50px;
    margin-top: -90px;
}

.panel-img{
    width: 100px;
    height: 100px;
}

.text-center{
    text-align: center;
}
.text-h1{
    font-size: 35px;
    font-weight: bold;
    margin: 60px 0 ;
    text-align: center;
}
.text-h3{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 27px 0;
}
.text-h4{
    font-size: 12px;
    text-align: center;
}

.icon-md{
    height: 180px;
    width: 180px;
}

.text-box{
    justify-content: center;
}

.profil-card{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px 10px 10px 25px;
}

.profil-card-name{
    font-size: 15px;
    padding: 18px 0 ;
    font-weight: bold;
}

.card{
    margin: 10px;
    width: 15rem;
}

body{
    min-height: fit-content;
}

footer{
    background-color: rgba(0, 110, 255, 0.815);
}

.br-0{
    border-radius: 0 !important;
}

.br-full{
    border-radius: 60px;
}

.text_capital{
    text-transform: capitalize;
}

li{
    list-style: none;
}

.img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 0 5%;
    border-radius: 15px;
}

.img-text h2{
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text p{
    font-size: 14px;
}

.single-box{
    height: 320px;
    width:100%;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    position: relative;
    margin-bottom: 100px;
}

.img-area{
    margin: 20px auto auto auto;
    margin: auto;
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}

.img-area img{
    width: 100%;
    height: 100%;
}

.carousel-indicators{
    left: -10px;
    top: 262px;
    bottom: 10px;
}

.carousel-indicators li{
    background: rgba(0, 110, 255, 1) !important;
    border-radius: 100%;
    width: 20px !important;
    height: 0px !important;
}

.carousel-indicators .active{
    background:rgba(0, 110, 255, 1);
}

.navbar{
    z-index: 1000;
}

.profile{
    border-radius: 18px;
    padding: 70px 10px 10px;
    background-color: #ffff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 50px);
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.profile h3{
    font-size: 20px;
    margin-top: -8px;
    color: #0084ff;
}

.text-area{
    height: 70px;
}

 
